
.surface {
    stroke: green;
    fill: white;
    --default-radius : 15;    
}

.table-text {
    fill: black;
    font-size: 18px;
}
.background {
    fill: white;
    --horizontal-anchor: center;
    --vertical-anchor: middle;
}
.textarea-background {
    fill: white;
    --horizontal-anchor: left;
    --vertical-anchor: bottom;
}
.cell{
    --default-text-class : table-text;
    --default-background-class : background;
}
.slp-table{
    --default-cell-class : cell;
}
.slp-node{
    --default-surface-class : surface;
    --default-text-class : table-text;
    --default-surface-type : circle;
    /*
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    */
}
.slp-line{
    stroke: black;
    /* stroke-width: 1pt; */
}
.slp-edge{
    --default-line-class : slp-line;
    --default-text-class : table-text;
    --default-begin-connector-position : bottom;
    --default-end-connector-position : top;    
}
.slp-graph{
     --default-vertex-class : slp-node; 
     --default-edge-class : slp-edge; 
}