body {
    font-family: 'Segoe UI', sans-serif;
}

.svgbox {
    border: #000000 solid 1px;
    background: #e9e9e9;
}
.text-vertex {
    fill: red;
    font-size: 18px;
}
.text {
    fill: green;
    font-size: 18px;
}
.path{
    stroke: blue;
    stroke-width: 3pt;
    fill : pink;
    --stroke-style : msoLineSolid;
}

.callout {
    --default-text-class : text;
    --default-path-class : path;

}
