body {
    font-family: 'Segoe UI', sans-serif;
}

.svgbox {
    border: #000000 solid 1px;
    background: #e9e9e9;
}
.graph{
    --default-vertex-class : vertex;
    --default-edge-class : edge;
}
.vertex{
    --default-surface-class : surface;
    --default-text-class : text-vertex;
    --default-surface-type : rectangle;
}
.surface {
    stroke: purple;
    fill: pink;
    --default-radius : 15;
    --stroke-style : msoLineDash;
}
.edge{
    --default-line-class : line;
    --default-text-class : text-edge;
    --begin-connector-type : bottom;
    --end-connector-type : right;
    --marker-start : true;
    --marker-end : true;
}
.line{
    stroke: blue;
    stroke-width: 3pt;
    --stroke-style : msoLineSolid;
}
.text-vertex {
    fill: red;
    font-size: 18px;
}
.text-edge {
    fill: green;
    font-size: 18px;
}
