body {
    font-family: 'Segoe UI', sans-serif;
}

.svgbox {
    border:#000000 solid 1px;
    background:#e9e9e9;
}
.code {
    border:#000000 solid 1px;
    background:#ffffe0;
}

.sample3_node {
    stroke: blue;
    fill: orange;
}
.sample4_vertex {
    --default-surface-type : rectangle;
}

.sample5_graph {
    --default-vertex-class : sample5_vertex;
}
.sample5_vertex {
    --default-surface-type : circle;
    --default-surface-class : sample5_circle;    
    --default-text-class : sample5_text;        
}
.sample5_circle {
    --default-radius : 40;
    fill: green;
}
.sample5_text {
    fill : blue;
    font-size: 20pt
}
