body {
    font-family: 'Segoe UI', sans-serif;
}

.svgbox {
    border:#000000 solid 1px;
    background:#e9e9e9;
}
.code {
    border:#000000 solid 1px;
    background:#ffffe0;
}

.sample7_table{
    --default-cell-class : sample7_cell;
    --default-border-class : sample7_line;    
}
.sample7_cell{
    --default-background-class : sample7_background;
    --default-text-class : sample7_text;
    --horizontal-anchor : center;
    --vertical-anchor : middle;
    /* padding-left: 10px;*/
}
.sample7_background {
    fill: pink;
}
.sample7_line {
    stroke: red;
    stroke-width: 3pt
}
.sample7_text{
    stroke: green;
    fill: green;
    font-size: 16pt;
}