
.slpnode {
    stroke: green;
    fill: white;
}

    .slpnode:hover {
        fill: #31c8aa;
        box-shadow: 0 3px 0 #23a188;
    }

    .slpnode:active {
        top: 3px;
        box-shadow: none;
    }

.slpnode_choice {
    stroke: green;
    stroke-width: 5px;
    fill: blue;
}

.slpnode_noroot {
    stroke: black;
    fill: orange;
}



.table-text {
    fill: black;
    font-size: 18px;
}
.background {
    fill: white;
    --horizontal-anchor: center;
    --vertical-anchor: middle;
}
.textarea-background {
    fill: white;
    --horizontal-anchor: left;
    --vertical-anchor: bottom;
}
.cell{
    --default-text-class : table-text;
    --default-background-class : background;
}
.slp-table{
    --default-cell-class : cell;
}
.surface {
    stroke: green;
    fill: white;
    --default-radius : 15;    
}
.slp-node{
    --default-surface-class : surface;
    --default-text-class : table-text;
    --default-surface-type : circle;
    /*
    --horizontal-anchor: center;
    --vertical-anchor: middle;
    */
}
.slp-line{
    stroke: black;
    stroke-width: 3pt;
}
.slp-edge{
    --default-line-class : slp-line;
    --default-text-class : table-text;
    --default-begin-connector-position : bottom;
    --default-end-connector-position : top;    
}
.slp-graph{
    --default-vertex-class : slp-node;
    --default-edge-class : slp-edge;
    --default-vertex-x-interval : 50;
    --default-vertex-y-interval : 50;    
}