
.tabs {
    margin-top: 12px;
}
       
      .tabs .tab-label {
        display: inline-block;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #999;
        background-color: #f3f3f3;
        margin-left: 1px;
        margin-right: 1px;
        padding: 3px 6px;
        border-bottom: none;
        font-size: 0.9em;
      }
       
      .tabs .tab-label:hover {
        opacity: 0.7;
      }
       
      .tabs input[name="tab-radio"],
      .tabs .tab-content {
        display: none;
      }
       
      .tabs .tab-content{
        border: 1px solid #999;
        padding: 10px;
        min-height: 200px;
      }
          
      .tabs input:checked + .tab-label {
        background-color: yellow;
      }
        .tabs #tab-2-0:checked ~ .tab-2-0-content,
.tabs #tab-2-1:checked ~ .tab-2-1-content{display: block;}
 .tabs input[name="tab-radio2"] {display: none;} 
.tabs #tab-3-0:checked ~ .tab-3-0-content,
.tabs #tab-3-1:checked ~ .tab-3-1-content{display: block;}
 .tabs input[name="tab-radio3"] {display: none;} 
.tabs #tab-5-0:checked ~ .tab-5-0-content,
.tabs #tab-5-1:checked ~ .tab-5-1-content{display: block;}
 .tabs input[name="tab-radio5"] {display: none;} 
.tabs #tab-4-0:checked ~ .tab-4-0-content,
.tabs #tab-4-1:checked ~ .tab-4-1-content{display: block;}
 .tabs input[name="tab-radio4"] {display: none;} 
.tabs #tab-6-0:checked ~ .tab-6-0-content,
.tabs #tab-6-1:checked ~ .tab-6-1-content{display: block;}
 .tabs input[name="tab-radio6"] {display: none;} 
.tabs #tab-0-0:checked ~ .tab-0-0-content,
.tabs #tab-0-1:checked ~ .tab-0-1-content{display: block;}
 .tabs input[name="tab-radio0"] {display: none;} 
.tabs #tab-7-0:checked ~ .tab-7-0-content,
.tabs #tab-7-1:checked ~ .tab-7-1-content{display: block;}
 .tabs input[name="tab-radio7"] {display: none;} 
.tabs #tab-9-0:checked ~ .tab-9-0-content,
.tabs #tab-9-1:checked ~ .tab-9-1-content{display: block;}
 .tabs input[name="tab-radio9"] {display: none;} 
.tabs #tab-8-0:checked ~ .tab-8-0-content,
.tabs #tab-8-1:checked ~ .tab-8-1-content{display: block;}
 .tabs input[name="tab-radio8"] {display: none;} 
.tabs #tab-10-0:checked ~ .tab-10-0-content,
.tabs #tab-10-1:checked ~ .tab-10-1-content{display: block;}
 .tabs input[name="tab-radio10"] {display: none;} 
.tabs #tab-12-0:checked ~ .tab-12-0-content,
.tabs #tab-12-1:checked ~ .tab-12-1-content{display: block;}
 .tabs input[name="tab-radio12"] {display: none;} 
.tabs #tab-11-0:checked ~ .tab-11-0-content,
.tabs #tab-11-1:checked ~ .tab-11-1-content{display: block;}
 .tabs input[name="tab-radio11"] {display: none;} 
.tabs #tab-1-0:checked ~ .tab-1-0-content,
.tabs #tab-1-1:checked ~ .tab-1-1-content{display: block;}
 .tabs input[name="tab-radio1"] {display: none;} 
.tabs #tab-15-0:checked ~ .tab-15-0-content,
.tabs #tab-15-1:checked ~ .tab-15-1-content{display: block;}
 .tabs input[name="tab-radio15"] {display: none;} 
.tabs #tab-13-0:checked ~ .tab-13-0-content,
.tabs #tab-13-1:checked ~ .tab-13-1-content{display: block;}
 .tabs input[name="tab-radio13"] {display: none;} 
.tabs #tab-17-0:checked ~ .tab-17-0-content,
.tabs #tab-17-1:checked ~ .tab-17-1-content,
.tabs #tab-17-2:checked ~ .tab-17-2-content,
.tabs #tab-17-3:checked ~ .tab-17-3-content{display: block;}
 .tabs input[name="tab-radio17"] {display: none;} 
.tabs #tab-16-0:checked ~ .tab-16-0-content,
.tabs #tab-16-1:checked ~ .tab-16-1-content{display: block;}
 .tabs input[name="tab-radio16"] {display: none;} 
.tabs #tab-14-0:checked ~ .tab-14-0-content,
.tabs #tab-14-1:checked ~ .tab-14-1-content{display: block;}
 .tabs input[name="tab-radio14"] {display: none;} 
