body {
    font-family: 'Segoe UI', sans-serif;
}

.article-title{
    font-size: 28px;
    font-weight: 700;
}
.code-filename{
    background-color: aqua;
    position: relative;
    top: 20pt;
}

.sample-table-of-contents{
    background-color: palegoldenrod;
    border: double;
    padding: 10pt;
    width: 800pt;
    margin: 10pt auto;
}

.sample-article{
    background-color: palegoldenrod;
    border: double;
    padding: 10pt;
    width: 800pt;
    margin: 10pt auto;
}
.sample-commentary{
    background-color: #CCFF66;
    padding: 10pt; 
    margin: 10pt;  
}
