
.tabs {
    margin-top: 12px;
}
       
      .tabs .tab-label {
        display: inline-block;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #999;
        background-color: #f3f3f3;
        margin-left: 1px;
        margin-right: 1px;
        padding: 3px 6px;
        border-bottom: none;
        font-size: 0.9em;
      }
       
      .tabs .tab-label:hover {
        opacity: 0.7;
      }
       
      .tabs input[name="tab-radio"],
      .tabs .tab-content {
        display: none;
      }
       
      .tabs .tab-content{
        border: 1px solid #999;
        padding: 10px;
        min-height: 200px;
      }
          
      .tabs input:checked + .tab-label {
        background-color: yellow;
      }
        .tabs #tab-3-0:checked ~ .tab-3-0-content,
.tabs #tab-3-1:checked ~ .tab-3-1-content{display: block;}
 .tabs input[name="tab-radio3"] {display: none;} 
.tabs #tab-1-0:checked ~ .tab-1-0-content,
.tabs #tab-1-1:checked ~ .tab-1-1-content{display: block;}
 .tabs input[name="tab-radio1"] {display: none;} 
.tabs #tab-4-0:checked ~ .tab-4-0-content,
.tabs #tab-4-1:checked ~ .tab-4-1-content{display: block;}
 .tabs input[name="tab-radio4"] {display: none;} 
.tabs #tab-5-0:checked ~ .tab-5-0-content,
.tabs #tab-5-1:checked ~ .tab-5-1-content{display: block;}
 .tabs input[name="tab-radio5"] {display: none;} 
.tabs #tab-2-0:checked ~ .tab-2-0-content,
.tabs #tab-2-1:checked ~ .tab-2-1-content{display: block;}
 .tabs input[name="tab-radio2"] {display: none;} 
.tabs #tab-7-0:checked ~ .tab-7-0-content,
.tabs #tab-7-1:checked ~ .tab-7-1-content{display: block;}
 .tabs input[name="tab-radio7"] {display: none;} 
.tabs #tab-8-0:checked ~ .tab-8-0-content,
.tabs #tab-8-1:checked ~ .tab-8-1-content{display: block;}
 .tabs input[name="tab-radio8"] {display: none;} 
.tabs #tab-9-0:checked ~ .tab-9-0-content,
.tabs #tab-9-1:checked ~ .tab-9-1-content{display: block;}
 .tabs input[name="tab-radio9"] {display: none;} 
.tabs #tab-6-0:checked ~ .tab-6-0-content,
.tabs #tab-6-1:checked ~ .tab-6-1-content{display: block;}
 .tabs input[name="tab-radio6"] {display: none;} 
