
.table-text {
    fill: black;
    font-size: 24px;
}
.background {
    fill: white;
    --horizontal-anchor: center;
    --vertical-anchor: middle;
}
.textarea-background {
    fill: white;
    --horizontal-anchor: left;
    --vertical-anchor: middle;
}
.sa-table{
    --default-text-class : table-text;
    --default-background-class : background;
}